.Header {
	background-color: var(--primary);
	color: whitesmoke;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	padding: 2rem;

	.brand {
		display: flex;
		justify-content: left;
		align-items: flex-end;

		img {
			max-height: 10vh;
		}
	}

	.select-category {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40%;

		button {
			background: none;
			border: 1px solid black;
			border-radius: 50%;
			padding: 0.3rem;
			margin-left: 1rem;
		}

		button:hover {
			background-color: aliceblue;
		}
	}

	.signout {
		margin-top: 1rem;
		margin-right: 1rem;
		background: none;
		padding: 0.5rem 1rem;
		border-radius: 1rem;
		border: 2px solid white;
		position: absolute;
		top: 0;
		right: 0;

		img {
			max-height: 4vh;
		}
	}
	.signout:hover {
		background: white;
	}
}
