.UploadForm {
	display: flex;
	justify-content: center;

	form {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 80vw;
		padding: 1rem;

		label {
			margin: 1rem;
			cursor: pointer;
			input {
				height: 0;
				width: 0;
				opacity: 0;
			}
			span {
				text-decoration: underline;
			}
			span:hover {
				font-size: larger;
			}
		}

		.form-select {
			width: 30%;
		}

		.output-display {
			text-align: center;
			width: 100%;
			.errorMsg {
				color: var(--error);
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.UploadForm {
		form {
			.form-select {
				width: 80%;
			}
		}
	}
}
