* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary: rgb(156, 209, 226);
	--secondary: #4e4e4e;
	--error: #ff4a4a;
	--primaryDark: #efb6b2;
	--secondaryDark: #4e4e4e;
}

@import "./_header.scss";
@import "./uploadform";

.App {
	transition: all 1s ease;
}
